# --- GENERAL ---
.DS_Store
.vscode/
.idea/

# --- PYTHON / BACKEND ---
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/*.db
backend/*.sqlite3

# --- FLUTTER / MOBILE ---
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.pub-cache/
mobile/android/local.properties